* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background-color: #fc1e8a;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-image: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
    padding: 40px 60px;

    user-select: none;
}

h2 {
    font-size: 3em;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset-btn {
    padding: 15px 20px;
    width: 100%;

    color: #000;
    font-size: 1.5em;
    font-weight: 600;

    background-color: #fff;
    border: none;
    cursor: pointer;
}

.reset-btn:focus {
    color: #ec38bc;
    background-color: #262809;

}

.game {
    width: 430px;
    height: 430px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fdeff9;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    /* inset para sobrepor o item */
    background-color: #404040;

    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.box-open {
    transform: rotateY(0deg);
}

.box-open::after,
.box-match::after {
    transform: rotateY(180deg);
}
